h1 {
    font-family: Revalia, serif;
    font-size: 48px;
    line-height: 60px;
    color: #34547A;
}

body {
    background-color: #EEEFF1;
}

header {
    width: 70%;
    margin-left: 15%;
    display: flex;
}

.header_logo {
    cursor: pointer;
    width: 100%;
}

.header_text {
    cursor: pointer;
    font-family: Roboto, serif;
    font-size: 12px;
    margin-left: -10px;
    margin-top: 0;
    line-height: 3px;
    color: #727272;
}

.full_link_input {
    width: 100%;
    background-color: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.full_link_label {
    cursor: pointer;
    font-family: Roboto, serif;
    font-size: 14px;
    color: #34547A;
    width: 100%;
    color: #34547A;
}

.short_link{
    width: 100%;
    background-color: white;
}

.short_link_output {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.short_link_label {
    margin: 30px auto 20px 35%;
    cursor: pointer;
    font-family: Roboto, serif;
    font-size: 14px;
    width: 100%;
    color: #34547A;
}